a {
  color: grey
}

nav {
  text-align: right;
}

nav > ul > a {
  color: darkslategray;
}

footer {
  text-align: center;
}

code {
  background-color: #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 20px;
  font-family: 'Source Code Pro';
  border: 5px grey;
}

.block code {
  padding: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align img:nth-of-type(2), .vertical-align h1 {
  margin-left: 1rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.fixed-width {
  max-width: 500px;
}

.responsive {
  width: 100%;
  height: auto;
}

.logo {
  max-width: 50px;
}

.inline {
  display: inline;
}

.block {
  display: block;
  padding: 5px;
}

.centered {
  text-align: center;
}

.shadow {
  box-shadow: 3px 5px 2px 2px #e6e6e6;
}

@media only screen and (max-width: 40rem) {
  .vertical-align {
    flex-direction: column;
  }
}

/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(sourcecodepro-300.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(sourcecodepro-300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}